.benefits{

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 5rem;
        gap: 10rem;

        .left{
            flex: .5;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: relative;

            .image-container {
                width: 90%;
              
                > div {
                  position: unset !important;
                }
              
                .image {
                  object-fit: contain;
                  width: 100% !important;
                  position: relative !important;
                  height: unset !important;
                }
              }
        }

        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4rem;
            flex: 1;

            .top{
                display: flex;
                flex-direction: column;
                gap: 4rem;

                .headings{
                    h2{
                        font-size: 4.7rem;
                        font-weight: 700;
                        line-height: 5.5rem;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                }

                .desc{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 2rem;

                    p{
                        font-size: 2.5rem;
                        font-weight: 400;
                        line-height: 2.9rem;
                        letter-spacing: 0em;
                        text-align: left;

                        span{
                            font-weight: bold;
                        }

                    }
                }
            }
        }

    }
}

@media screen and (max-width: 115px) {
   .benefits{
    .container{
        justify-content: center;
        flex-direction: column;
        .left{
           width: 100%;
        }
    }
   }
  }
  
@media screen and (max-width: 768px) {
   .benefits{
    .container{
        justify-content: center;
        flex-direction: column;
        .left{
           
        }
    }
   }
  }
  
  

  @media screen and (max-width: 480px) {
    .benefits{
        .container{
            padding: 4rem;

        }
       }
  }

