.btn{
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border: none;
    border-radius: .8rem;
    color:#fff;
    cursor: pointer;
    background: #D33434;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all .2s ease-in-out;

    &:hover{
        transform: scale(1.1);
      background: white;
      color: #FF0003;
    }
}


