.favorite{
    overflow: hidden;
    position: relative;

    .container{
        .top{
            padding: 5rem;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10rem;


            .left{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 4rem;
                flex: 1;
                
                .left-top, .left-bottom{
                    .headings{
                        margin-bottom: 2rem;
                        h2{
                            font-size: 4.7rem;
                            font-weight: 700;
                            line-height: 5.5rem;
                            letter-spacing: 0em;
                            text-align: left;
                            
                        }
                    }
                    
                    .desc{
                        padding-right: 4rem;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 2rem;
                        
                        p{
                            font-size: 2.5rem;
                            font-weight: 400;
                            line-height: 2.9rem;
                            letter-spacing: 0em;
                            text-align: left;
                            z-index: 99;
                            
                            span{
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            
            .right{
                flex: .5;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                
                .image-container {

                    width: 100%;
                  
                    > div {
                      position: unset !important;
                    }
                  
                    .image {
                      object-fit: contain;
                      width: 100% !important;
                      position: relative !important;
                      height: unset !important;
                    }
                  }
            }
        }

        .bottom{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            // padding: 5rem;

            .bottom-left{
                flex: 1;
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                // padding: 5rem 0rem;

                .image-container {

                    width: 100%;

                    padding: 5rem;
                    > div {
                      position: unset !important;
                    }
                  
                    .image {
                      object-fit: contain;
                      width: 100% !important;
                      position: relative !important;
                      height: unset !important;
                    }
                  }

            }
            .bottom-right{
                z-index: 99;
                display: flex;
                padding: 5rem;
        
                flex-direction: column;
                flex: 1;
                gap: 4rem;
                // border: 1px solid red;
    
                    .headings{
                        // border: 1px solid red;
                        h2{
                            font-size: 4.7rem;
                            font-weight: 700;
                            line-height: 5.5rem;
                            letter-spacing: 0em;
                            text-align: left;
    
                        }
                    }
    
                    .desc{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 2rem;
    
                        p{
                            font-size: 2.5rem;
                            font-weight: 400;
                            line-height: 2.9rem;
                            letter-spacing: 0em;
                            text-align: left;

                            span{
                                font-weight: bold;
                            }
    
                        }
                    }
                
            }

        }
    }
}


@media screen and (max-width: 768px) {
 .favorite{

    .bg{
        top: 70%;
        left: -30%;
        img{
            width: 108.884rem;
            height: 54.453rem;
        }
    }
    .container{
        .top{
            flex-direction: column;

            .left{
                .left-top, .left-bottom{
                    .desc{
                        padding-right: 0rem;
                    }
                }
            }
        }

        .bottom{
            flex-direction: column;
        }
    }
 }  
}

@media screen and (max-width: 480px) {
 .favorite{
    .container{
        // padding: 2rem;

        .bottom{
            .bottom-left{
                // border: 1px solid red;
                padding: 4rem;
            }
        }
    }
 }  
}
