.footer{
    // height: 100vh;
    background-color: #111;
    // padding: 10rem 4rem;
    position: relative;
    overflow: hidden;
    padding-top: 10rem;

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        gap: 5rem;

        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .image-container {
                width: 10rem;

                > div {
                    position: unset !important;
                }

                .image {
                    object-fit: contain;
                    width: 100% !important;
                    position: relative !important;
                    height: unset !important;
                }
            }

            h2{
                text-transform: uppercase;
                font-size: 4rem;
                text-align: center;
            }

            p{
                font-size: 2.0rem;
                line-height: 3.3rem;
                letter-spacing: 0em;
                text-align: center;
            }
            

        }


        .line{
            width: 100%;
            height: .5px;
            background-color: rgba(128, 128, 128, 0.5);
            border: none;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .content{
            width: 100%;
            // border: 1px solid red;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .popular-searches{
                // border: 1px solid red;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 4rem;
                margin-bottom: 4rem;

                p{
                    // border: 1px solid red;
                    width: 70%;
                    font-size: 2.0rem;
                    line-height: 3.3rem;
                    letter-spacing: 0em;
                    text-align: center;
                    color: gray;

                    span{
                        color: #FF0003;
                    }
                }
            }

    
            ul{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;
                font-size: 2.0rem;
                line-height: 3.3rem;
                letter-spacing: 0em;
                text-align: center;
                // color: gray;

                li{
                    transition: all .2s linear;
                    &:hover{
                        color: #FF0003;
                    }
                }
            }

            .lang{

                li{
                    border: 1px solid rgba(128, 128, 128, 0.425);
                    padding: .8rem 2rem;
                    border-radius: 3rem;
                    text-transform: capitalize;

                    &:hover{
                        border: 1px solid red;

                    }
                }
            }

            .copyright{
                margin: 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 1.5rem;
                    line-height: 3.3rem;
                    letter-spacing: 0em;
                    text-align: center;
                    color: gray;
                }
            }
        }
    }

}
