.contact{
    padding: 10rem 4rem;
    position: relative;
    overflow: hidden;

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;
        

        h2{
          
            font-size: 5.8rem;
            font-weight: 600;
            line-height: 5.9rem;
            letter-spacing: 0em;
            text-align: center;
            text-transform: uppercase;

        }

        .form{
            // border: 1px solid gray;
            width: 80%;
            // background: rgba( 255, 255, 255, 0.25 );
            // box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
            // backdrop-filter: blur( 2.4rem );
            // -webkit-backdrop-filter: blur( 2.4rem );
            border-radius: 1rem;

            // padding: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .item{
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                gap: .5rem;

                label{
                    font-size: 22px;
                }
                
                input,textarea{
                    width: 100%;
                    padding: 1rem;
                    border: 1px solid gray;
                    // background: rgba( 255, 255, 255, 0.25 );
                    // box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
                    // backdrop-filter: blur( 2.4rem );
                    // -webkit-backdrop-filter: blur( 2.4rem );
                    border-radius: 1rem;

                    &::placeholder{
                        color: rgba(255, 255, 255, 0.534);
                    }
                }

                button{
                    padding: 1rem 2rem;
                    font-size: 1.8rem;
                    background: rgb(0,0,0);
                    background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(255,0,3,1) 100%);
                
                    border: none;
                    border-radius: 1rem;
                    color:#FFFFFF;
                    cursor: pointer;
                
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    transition: all .2s ease-in-out;
                
                    &:hover{
                        transform: scale(1.1);
                       background:white;
                       color: #FF0003;
                    }
                }
            }
        }
    }
}